<!-- templates/index.html-->
{% extends "base.html" %}
{% load static %}

    {% block content %}
    <style>
        .right-align {
            text-align: right; /* Right-aligns the text */
            width: calc(100% / 12 * 5); /* Makes it take up 5 out of 12 columns */
            margin-left: auto; /* Ensures that the element stays to the right */
        }

        .left-align {
            text-align: left; /* Left-aligns the text */
            width: calc(100% / 12 * 5); /* Makes it take up 5 out of 12 columns */
            margin-right: auto; /* Ensures that the element stays to the left */
            font-size: 45px;
            line-height: 55px;
            padding-top: 200px;
            position: sticky;

        }
        </style>
    <section class=index-section">
        <div class="div-block-1">
             <div class="left-align">Hacker/<br>IT Architect<br>Photographer</div>
                <p class="right-align">New Zealand based/Chicago raised experienced Information Security and 
                Infrastructure Engineer specializing in cloud solutions, security architecture, and 
                automating resilient, high-performance systems.
                </p>
        </div>

    {% endblock %}