<!-- templates/index.html-->
{% extends "base.html" %}
{% load static %}

    {% block content %}
    <section class=index-section">
        <div class="div-block-1">
             <div class="heading">Hacker/<br>IT Architect<br>Photographer</div>
                <p class="paragraph">New Zealand based/Chicago raised experienced Information Security and Infrastructure Engineer specializing in cloud solutions, security architecture, and automating resilient, high-performance systems.</p>
        </div>
    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'theme/assets/img/killmonger.jpg' %}" alt="" />

    {% endblock %}