<!-- templates/index.html-->
{% extends "base.html" %}
{% load static %}

    {% block content %}
    <style>
        .right-align {
            text-align: right; /* Right-aligns the text */
            width: calc(100% / 12 * 5); /* Makes it take up 5 out of 12 columns */
            margin-left: auto; /* Ensures that the element stays to the right */
        }
    </style>
    <section class=index-section">
        <div class="div-block-1">
             <div class="heading">Hacker/<br>IT Architect<br>Photographer</div>
                <p class="right-align">New Zealand based/Chicago raised experienced Information Security and Infrastructure Engineer specializing in cloud solutions, security architecture, and automating resilient, high-performance systems.</p>
        </div>

    {% endblock %}