{% load static %}

<link rel="stylesheet" href="{% static 'theme/assets/css/styles.css' %}" />
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Greg Thomas</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'theme/assets/img/killmonger.jpg' %}" alt="..." /></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            {% url 'public:index' as index_url %}
            <li class="nav-item"><a class="nav-link js-scroll-trigger {% if request.path == index_url %}active{% endif %}" href="{{index_url}}">Home</a>  </li>
            {% url 'public:resume' as resume_url %}
            <li class="nav-item"><a class="nav-link js-scroll-trigger{% if request.path == resume_url %}active{% endif %}" href="{{resume_url}}">Resume</a></li>
            {% url 'public:about' as about_url %}
            <li class="nav-item"><a class="nav-link js-scroll-trigger{% if request.path == about_url %}active{% endif %}" href="{{about_url}}">About</a></li>
            {%url 'public:contact' as contact_url %}
            <li class="nav-item"><a class="nav-link js-scroll-trigger{% if request.path == contact_url %}active{% endif %}" href="{{contact_url}}">Contact</a></li>
            {%url 'public:photos' as photos_url%}
            <li class="nav-item"><a class="nav-link js-scroll-trigger{% if request.path == photos_url %}active{% endif %}" href="{{blog_url}}">Blog</a></li>
            {%url 'public:projects' as projects_url%}
            <li class="nav-item"><a class="nav-link js-scroll-trigger{% if request.path == projects_url %}active{% endif %}" href="{{projects_url}}">Projects</a></li>
        </ul>
    </div>
</nav>
<!-- 
<nav>
    {% url 'public:index' as index_url %}
    <span>{% if request.path == index_url %}Home{% else %} <a href="{% url 'public:index' %}"> Home </a> {% endif %} </span>
    {% url 'public:resume' as resume_url %}
    <span>{% if request.path == resume_url %}Resume{% else %} <a href="{% url 'public:resume' %}"> Resume </a> {% endif %} </span>
    {% url 'public:about' as about_url %}
    <span>{% if request.path == about_url %}About Me{% else %} <a href="{% url 'public:about' %}"> About Me </a> {% endif %} </span>
    {%url 'public:contact' as contact_url%}
    <span>{% if request.path == contact_url %}Contact Me{% else %} <a href="{% url 'public:contact' %}"> Contact Me </a> {% endif %}</span>
    <span style="float:right">
        {% if user.is_authenticated %}
            {% url 'accounts:profile' as profile_url %}
            <span>Hi {%if request.path == profile_url %} {{user.username}}
                {%else %} <a href="{{ profile_url }}">{{user.username}} </a> {% endif %}!</span>
            <span>
                <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                    Logout
                </a>
                <form id="logout-form" action="{% url 'accounts:logout' %}" method="post" style="display: none;">
                    {% csrf_token %}
                </form>
            </span>
        {% else %} 
            <span><a href="{% url 'accounts:login' %}">Login</a></span>
        {% endif %} 
    </span>
<nav>
    --> 
