{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'theme/css/resume.css' %}">
<title>Greg Thomas' Resume</title>
<script type="text/javascript"></script>
</head>
<body>
    <div class="container">
        <div class="left_Side"></div>
        <div class="right_Side"></div>

          
</html>
