/* General body styling */
body {
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.gallery-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr;  */
    grid-gap: 60px; /* 60px gap between grid items */
    align-items: center;
    padding: 60px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */

}

.gallery-item {
    max-width: 100px;
    max-height: 100px;
    display: flex;
    flex-direction: row; /* Align items horizontally */
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: auto;
    height: auto;
    border: 3px solid black; /* Optional: Add border to items */

}

.gallery-item:nth-child(odd) {
    flex-direction: row-reverse; /* Reverse order for odd items */
}

.gallery-item img {
    max-width: 45%; /* Keep image width responsive */
    height: auto; /* Maintain aspect ratio */
    border: 3px solid black; /* Optional: Add border to images */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Optional: Box shadow for effect */
}

.description-gallery {
    max-width: 45%;
    padding-left: 20px;
}

.description-gallery hr {
    border: none;
    border-top: 2px solid black;
    margin-bottom: 10px;
}

.description-gallery p {
    font-size: 16px;
    line-height: 1.5;
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .gallery-container {
        grid-template-columns: 1fr; /* Stack images and description-gallerys vertically on small screens */
    }

    .gallery-item {
        flex-direction: column; /* Stack image and description-gallery-gallery vertically */
    }

    .gallery-item:nth-child(odd) {
        flex-direction: column; /* Ensure both follow the same layout in small screens */
    }

    .gallery-item img {
        max-width: 100%; /* Image takes full width */
        margin-bottom: 20px;
    }

    .description-gallery {
        max-width: 100%; /* description-gallery takes full width */
        padding-left: 0;
    }
}
